@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Poppins:wght@100;200;300;400&display=swap");

* {
	margin: 0;
	padding: 0;
}

ul, li {
  margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

html {
	font-size: 62.5%;
	font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: rgba(255, 255, 255, .9);
}

body {
	font-size: 1.6rem;
	min-height: 100vh;
	background-image: linear-gradient(145deg, #daaae6, #aee6e6);
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
