.wrapper {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description {
  max-width: 50rem;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  text-shadow: 0 .5rem 1rem #76328628;
}

.signature {
  max-width: 15rem;
  height: auto;
}

.quote-wrapper {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {
  max-width: 50rem;
  min-width: 30rem;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 1rem;
  padding: 4rem;
  background-color: rgba(255, 255, 255, .5);
  box-shadow: 0 1rem 2rem #76328628;
  border-radius: 1rem;

  &__text {
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: #5a4c5ea4;
  }

  &__author {
    width: 100%;
    text-align: right;
    margin-bottom: 2rem;
    font-family: "Libre Baskerville", serif;
    font-style: italic;
    font-size: 1.8rem;
    color: #5a4c5e80;
  }

  &__btn {
    padding: 1rem 3rem;
    background-color: #986cc0d2;
    border-radius: .7rem;
    color: rgba(255, 255, 255, .8);
    font-family: "Libre Baskerville", serif;
    font-size: 1.8rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem #76328628;
    transition: all .3s;

    &:hover {
      transform: translateY(-2.5px);
      background-color: #b271eeb6;
      box-shadow: 0 1rem 2rem #76328628;

      &:active {
        transform: translateY(1px);
        background-color: #c595f1d2;
      }
    }
  }
}